<% layout('layout') -%>

<style type="text/css">
.alert_mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    opacity: 0.50;
    overflow: hidden;
    background: black;
    z-index: 10000;
    cursor: pointer;
}
.alert_container {
    position: fixed;
    left: 10%;
    top: 1.42857143em; /* 20px / 14px */
    width: 80%;
    height: 80%;
    background: black;
    z-index: 10000;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* Sidebar navigation */
.sidebar {
  width: 140px;
  position: fixed;
  top: 40px;
  left: 20px;
}
#tableList {
  padding-left: 160px;
}
@media only screen and (max-width: 790px) {
  .sidebar {
    width: 120px;
    position: fixed;
    top: 40px;
    left: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .sidebar {
    width: 80px;
    position: fixed;
    top: 40px;
    left: 20px;
  }
  #tableList {
    padding-left: 120px;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

span.glyphicon-download-alt[title=Download] {
  cursor: pointer;
}
</style>

<div class="sidebar"><ul class="nav nav-sidebar"></ul></div>
<div id="tableList"></div>

<script>
var course = [
  { id: 1, name: 'C 語言程式設計', folder: 'video/c_programming_language/',
    video: [ {name: 'CH 1-1',  filename: 'CH1_1.mp4'},
             {name: 'CH 1-2',  filename: 'CH1_2.mp4'},
             {name: 'CH 2-1',  filename: 'CH2_1.mp4'},
             {name: 'CH 2-2',  filename: 'CH2_2.mp4'},
             {name: 'CH 3',    filename: 'CH3.mp4'},
             {name: 'CH 4-1',  filename: 'CH4_1.mp4'},
             {name: 'CH 4-2',  filename: 'CH4_2.mp4'},
             {name: 'CH 5-1',  filename: 'CH5_1.mp4'},
             {name: 'CH 5-2',  filename: 'CH5_2.mp4'},
             {name: 'CH 5-3',  filename: 'CH5_3.mp4'},
             {name: 'CH 5-4',  filename: 'CH5_4.mp4'},
             {name: 'CH 5-5',  filename: 'CH5_5.mp4'},
             {name: 'CH 6-1',  filename: 'CH6_1.mp4'},
             {name: 'CH 6-2',  filename: 'CH6_2.mp4'},
             {name: 'CH 6-3',  filename: 'CH6_3.mp4'},
             {name: 'CH 7',    filename: 'CH7.mp4'},
             {name: 'CH 8-1',  filename: 'CH8_1.mp4'},
             {name: 'CH 8-2',  filename: 'CH8_2.mp4'},
             {name: 'CH 9-1',  filename: 'CH9_1.mp4'},
             {name: 'CH 9-2',  filename: 'CH9_2.mp4'},
             {name: 'CH 10-1', filename: 'CH10_1.mp4'},
             {name: 'CH 10-2', filename: 'CH10_2.mp4'} ]
  },
  { id: 2, name: '資料結構與演算法', folder: 'video/ds_algorithm/',
    video: [ {name: 'CH 1: Introduction', filename: '01 Introduction.mp4'},
             {name: 'CH 2: Stack',        filename: '02 Stack.mp4'},
             {name: 'CH 3: Queue',        filename: '03 Queue.mp4'},
             {name: 'CH 4: Linked List',  filename: '04 Linked List.mp4'},
             {name: 'CH 5: Tree',         filename: '05 Tree.mp4'},
             {name: 'CH 6: Graph',        filename: '06 Graph.mp4'},
             {name: 'CH 7: Sorting',      filename: '07 Sorting.mp4'} ]
  },
  { id: 3, name: 'Linux 開發環境架設', folder: 'video/linux_environment/',
    video: [ {name: 'CH 1-1: Ubuntu Desktop 安裝教程',     filename: '1_1.ubuntu-desktop安裝教程.mp4'},
             {name: 'CH 1-2: Ubuntu VirtualBox  安裝教程', filename: '1_2.ubuntu-virtualbox 安裝教程.mp4'},
             {name: 'CH 1-3: VMware Workstation 安裝教程', filename: '1_3.workstation安裝教程.mp4'},
             {name: 'CH 2: 套件安裝',                      filename: '2.套件安裝.mp4'},
             {name: 'CH 3: 檔案與檔案系統',                 filename: '3.檔案與檔案系統.mp4'},
             {name: 'CH 4: 帳號管理',                      filename: '4.帳號管理.mp4'},
             {name: 'CH 5: 核心編譯',                      filename: '5.核心編譯.mp4'}, ]
  }
];

window.onload = function() {
  var navHtml = '';
  var html = '';
  $.each(course, function(index, c) {
    navHtml += '<li ' + ((index==0)?'class="active"':'') + '><a href="#course_'+c.id+'">'+c.name+'</a></li>';
    
    html += '<section id="course_'+c.id+'"> \
      <h1 class="page-header">' + c.name + '</h1> \
      <h3 class="sub-header">Video Lecture</h3> \
      <table class="table table-striped table-hover table-responsive"> \
        <thead> \
          <tr> \
            <th width="100">#</th> \
            <th>Name</th> \
            <th width="200"></th> \
          </tr> \
        </thead> \
    	  <tbody> \
    ';
    
    $.each(c.video, function(i, video) {
      html += ' \
  	    <tr> \
  	      <td>' + (i+1) + '</td> \
  	      <td><a class="video_link" href="' + c.folder + video.filename + '" target="_blank">' + video.name + '</a></td> \
  	      <td> \
            <button type="button" class="btn btn-default btn-xs" href="' + c.folder + video.filename + '"> \
              <span class="glyphicon glyphicon-download-alt"></span> Download \
            </button> \
          </td> \
  	    </tr> \
      ';
    });
      
    html += '</tbody></table></section>';
  });
  
  $('div.sidebar ul.nav-sidebar').append(navHtml);
  $('div#tableList').append(html);
  
  var aChildren = $("ul.nav li").children(); // find the a children of the list items
  var aArray = []; // create the empty aArray
  for (var i=0; i < aChildren.length; i++) {    
      var aChild = aChildren[i];
      var ahref = $(aChild).attr('href');
      aArray.push(ahref);
  } // this for loop fills the aArray with attribute href values
  
  $(window).scroll(function(){
      var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
      var windowHeight = $(window).height(); // get the height of the window
      var docHeight = $(document).height();

      for (var i=0; i < aArray.length; i++) {
          var theID = aArray[i];
          var divPos = $(theID).offset().top; // get the offset of the div from the top of page
          var divHeight = $(theID).height(); // get the height of the div in question
          if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
              $("a[href='" + theID + "']").parent('li').addClass("active");
          } else {
              $("a[href='" + theID + "']").parent('li').removeClass("active");
          }
      }

      if(windowPos + windowHeight == docHeight) {
          if (!$("ul.nav li:last-child").hasClass("active")) {
              $("li.active").removeClass('active');
              $("ul.nav li:last-child").addClass("active");
          }
      }
  });
  
  $('ul.nav li a').click(function() {
    var top = $($(this).attr("href")).offset().top;
    $("html, body").animate({ scrollTop: top }, 500);
    return false;
  });
  
  $('button[href]').click(function() {
    window.open($(this).attr('href'));
  });
  
  $('a.video_link').click(function() {
    var html = ' \
      <div class="alert_mask" title="點一下關閉影片"></div> \
      <div class="alert_container"> \
        <video id="example_video_1" controls="controls" preload="auto" width="100%" height="100%" \
               class="video-js vjs-default-skin vjs-big-play-centered" style="width: 100%; height: 100%;"> \
          <source src="' + $(this).attr('href') + '" type="video/mp4" /> \
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a \ href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p> \
        </video> \
      </div> \
    ';
    var target = $(html).hide().appendTo('body');
    
    $('body div.alert_mask').click(function() {
      $('div.alert_mask, div.alert_container').remove();
    });
    
    // Initialize video plug-in
    /*
    videojs(document.getElementById('example_video_1'), {}, function() {
      $(target).fadeIn();
    });
    */
    $(target).fadeIn();
    
    return false;
  });
};
</script>
