<% layout('layout') -%>

<h1 class="page-header">SVN Repository Status</h1>

<% if (repos.length > 0) { %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Repository</th>
        <th>Repository (Mirror)</th>
        <th>Latest Revision</th>
        <th>Last Commit Time</th>
        <th>Last Backup Time</th>
        <th>Status</th>
      </tr>
    </thead>
	<tbody>
	  <% repos.forEach(function(repo, index) { %>
	  <tr class="<%= repo.name %>">
	    <td><%= index+1 %></td>
	    <td><a href="//192.168.205.179:8080/svn/<%= repo.name %>/" target="_blank"><%= repo.name %></a></td>
	    <td><a href="//192.168.205.252/svn/<%= repo.name %>/" target="_blank"><%= repo.name %></a></td>
	    <td class="rev"><span><%= repo.revision %></span></td>
	    <td class="rev_time"><span><%= repo.lastRevTimeString %></span></td>
	    <td class="backup_time"><span><%= repo.lastBackupTimeString %></span></td>
	    <td><span class="label label-success">Running</span></td>
	  </tr>
      <% }); %>
	</tbody>
  </table>
<% } %>

<script>
  socket.on('new commit', function(data) {
	  var target = $('tr.' + data.repo);
	  $(target).addClass('success')
	  .find('td.rev span')
	    .html(data.revision).addClass('label label-info')
	  .end().find('td.rev_time span')
	    .html(data.time)
	  .end()
	    .each(function() {
	    	setTimeout(function() {
	    		$(target).removeClass('success')
				.find('td.rev span')
				  .removeClass('label label-info')
				.end();
	    	}, 10 * 1000);
	    });
  });
  socket.on('new backup', function(data) {
	  var target = $('tr.' + data.repo);
	  $(target).addClass('success')
	  .find('td.backup_time span')
	    .html(data.backuptime).addClass('label label-info')
	  .end()
	    .each(function() {
	    	setTimeout(function() {
	    		$(target).removeClass('success')
				.find('td.backup_time span')
				  .removeClass('label label-info')
				.end();
	    	}, 10 * 1000);
	    });
  });
</script>
