<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <!--
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
      -->
    
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv-3.7.2.min.js"></script>
      <script src="/javascripts/respond-1.4.2.min.js"></script>
    <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    
    <!-- Import Video.js -->
    <link href="/stylesheets/video-js.min.css" rel="stylesheet">
    <script src="/javascripts/video.js"></script>
    <script>
      videojs.options.flash.swf = "/javascripts/video-js.swf"
    </script>
  </head>
  <body>
    
    <div class="container">
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error && error.length > 0) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>
      
      <%- body %>
	  
      <hr />
      <footer>
        <p><a href="/dashboard">ECA</a> &copy; 2014</p>
      </footer>
    </div>
    
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    
  </body>
</html>